<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Eat Da Burger!</title>
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body style="background-color: rgb(58, 192, 192);">
	<!-- handlebars that signal that the code entered in the "index.handlebars" file should
	be placed here -->
	{{{ body }}}
</body>

</html>