<!-- creates a div -->
<div style="position: relative; left: 400px;">
  <!-- creates a heading for the page -->
  <h1 style="position: relative; left: 140px;">Eat Da Burger!</h1>
  <!-- loads a gif image of a cartoon hamburger and displays it on the page -->
  <img id="burger" style="height: 200px; position: relative; left: 140px;" src="https://media.giphy.com/media/yYc5L3vhTWeBi/giphy.gif">
  <!-- creates an input field that where the user can enter a new burger and name it -->
  <input id="input" style="position: relative; top: 50px; left: -50px;" type="text" rows="4" cols="50" name="fname" placeholder="Enter Burger Name">
  <br>

  <button id="button" style="position: relative; top: 70px; left: 200px;">
    Burger Button
  </button>

  <div id="burger-field">
    <div class="row">
      <div class="column" id="c1">
        <h1>Fresh</h1>
        <!--handlebars code that allows a new entry to be placed in the left hand column
        if it is categorized as not yet devoured-->
        {{#each burgers}} {{#unless devoured}}
        <div class="not-devoured" style=>
          <p>{{this.burger_name}}</p>
          <button class="devour" id={{this.id}}>
            Devour!
          </button>
        </div>
        {{/unless}} {{/each}}
      </div>

      <div class="column" id="c2">
        <h1>Devoured</h1>
        <!--handlebars code that allows a new entry to be placed in the right hand column
        if it is categorized as devoured-->
        {{#each burgers}} {{#if devoured}}
        <div class="devoured" style=>
          <p>{{this.burger_name}}</p>
          <button class="undevour" id={{this.id}}>
            Un-Devour!
          </button>
        </div>
        {{/if}} {{/each}}
      </div>
    </div>
  </div>

</div>

<script>

  //jquery that causes the code to change the value of the devoured property to 1 after the 
  //devour button is clicked 
  $(document).ready(function () {
    $("button.devour").on("click", function () {
      $.ajax({
        method: "PUT",
        url: "/api/devour/" + $(this).attr("id"),
        data: { devoured: "1" }
      })
        .then(function (msg) {
          console.log(msg);
          console.log('hello ta');
          {{!-- location.reload(); --}}
          window.location.reload();
        });
    });

    //jquery that causes the code to change the value of the devoured property to 0 after the 
    //undevour button is clicked 
    $("button.undevour").on("click", function () {
      $.ajax({
        method: "PUT",
        url: "/api/devour/" + $(this).attr("id"),
        data: { devoured: "0" }
      })
        .done(function (msg) {
          console.log(msg);
          window.location.reload();
        });
    });

    //jquery that causes the code to place a new entry into the database table when the "button"
    //button is clicked
    $("#button").on("click", function () {
      var burgerName = $("#input").val()
      $.ajax({
        method: "POST",
        url: "api/new",
        data: { burger_name: burgerName }
      })
        .done(function (msg) {
          console.log(msg);
          window.location.reload();
        });
    })
  });


</script>